<!DOCTYPE html>
<html ng-app="dart">
<head>
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://cdn.rawgit.com/wout/svg.js/master/dist/svg.min.js"></script>
	<script src="engine.js"></script>
	<script src="board.js"></script>
	<title>darts</title>
</head>

<body onload="drawBoard()">
	<div id="settings" ng-hide="gameinprogress" ng-controller="settings">
		Number of players: <input type="number" value=2 min=1 ng-model="players"></input> <br>
		Double-in<input type="checkbox" ng-model="doublein"></input> <br>
		Double-out<input type="checkbox" ng-model="doubleout"></input> <br>
		<button type="submit" ng-click="start_game(); gameinprogress = true">Start</button>
	</div>
	<div id="game">
		<div id="board"></div>
		<!-- Couldn't hide board along with scoretable due to some
		bug that makes SVG text to move down. WTF? -->
		<div id="score" ng-controller="scoretable as score">
			<p ng-repeat="player in get_players()">
				{{player.name}} <br>
				Points left to score: {{player.points_left}} <br>
				Darts left: {{player.darts_left}} <br>
			</p>
		</div>
	</div>
</body>

</html>
